
MdtrSample/obj/*
MdtrSample/bin/*
.vs/*
MdtrSample/.vs/MdtrSample/v17/

MdtrSample/.vs/MdtrSample/FileContentIndex/

MdtrSample/MdtrSample/obj/Debug/net6.0/

MdtrSample/MdtrSample/obj/

MdtrSample/MdtrSample/bin/Debug/net6.0/

MdtrSample/.vs/MdtrSample/config/
